<a href="https://colab.research.google.com/github/Jayashree-DataScience/Python_codes/blob/main/Python_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment 3

1. Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [28]:
# regular method using reduce function from functools
def mul(x,y):
  return x*y
from functools import reduce
data=[1,2,3,4,5]
#result=reduce(lambda a, b:a*b,data)   # another method of function usage
result=reduce(mul,data)
print("Result from built in reduce function {} ".format(result))

Result from built in reduce function 120

In [29]:
# user defined reduce function
def myreduce(fun,iterable_arg):
  it_obj=iter(iterable_arg)
  result=next(it_obj)
  for ele in it_obj :
    result=fun(result,ele)
  return result

In [30]:
result_myreduce=myreduce(mul,data)
print("Result from myreduce user defined function {} ".format(result_myreduce))

Result from myreduce user defined function 120

2. Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [31]:
num_list=[num for num in range(1,11)]
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
def return_odd(n):
  if n%2!=0:
    return n
  else:
   pass

In [33]:
def my_filter(fun,n_list):
  result=[]
  for i in iter(n_list):
    temp=fun(i)
    if temp!=None:
      result.append(temp)
  return result

In [34]:
result_final=my_filter(return_odd,num_list)
print("odd numbers from userdefined filter function{}".format(result_final))

odd numbers from userdefined filter function[1, 3, 5, 7, 9]

3. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

  ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

  ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy',    'zzzz']

  [[2], [3], [4], [3], [4], [5], [4], [5], [6]]
  
  [2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

  [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [35]:
word="xyz"
list1=[value*i for value in word for i in range(1,5) ]
list1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [36]:
list2=[value*i  for i in range(1,5) for value in word ]
list2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [37]:
num=[2,3,4]
list3=[[i+j] for i in num for j in range(0,3)]
print(list3)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [38]:
num=[2,3,4,5]
list4=[[i+j  for j in range(0,4)] for i in num]
print(list4)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [39]:
num=[1,2,3]
list5=[(j,i) for i in num for j in num]
print(list5)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]